body{
  /* background-color:palevioletred; */
  background-color: deepskyblue;

}
.container{
  min-height: 100vh;
  /* min-height: 500px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.overall{
  /* width: 90vw;
  margin: 5rem 0;
  max-width: var(--fixed-width);
  background: var(--clr-white);
  border-radius: var(--radius);
  padding: 1.5rem 2rem;
  box-shadow: var(--dark-shadow); */
  background-color: dodgerblue;
  width: auto;
  margin: 40px;
  padding: 30px;
  border-radius: 12px;
  /* text-align: center; */
  font-size: 30px;
  color: white;
}

